/* Login_Page Start */ 
/* .Login_Page{
    background: #F1F1F0;
}
/* End  */
/* card Start  */
/* .card{
position: absolute;
background:#FAFAFA ;
width: 518px;
height: 515px;
left: 734px;
top: 102px;
} */
/* End  */
