/* Universal CSS Begins  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --bgCol: #E8EDF1;
  --white: #FAFAFA;
  --accentCol:#3F87C1;
}

body{
  background-color: var(--bgCol);
}
/* Universal CSS Ends  */
/* FormCard CSS Ends  */
.FormCard{
  background-color: var(--white);
  border-radius: 0;
  border-color: var(--white);
  margin-top: 10rem;
}

.FormCardBody{
  margin: 4rem 1rem 4rem 1rem; /* TRBL */
}

.FormCardBodyGroupTitle{
  font-weight: bold;
  line-height: 1.1;
}

.FormCardBodyGroup{
  margin-bottom: 1rem;
}

.FormCardBodyGroupButton {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  outline: none;
  background: var(--accentCol);
  /* line-height: 1; */
  text-align: center;
  display: flex;
  justify-content: center;
}

.FormCardBodyGroupInput{
  background-color: #ffffff;
  border: 1px solid #010101 !important;
  border-radius: 0px;
}
.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.FormCardBodyGroupInput:focus,
.FormCardBodyGroupInput:active {
  box-shadow: 0 0 0 0.25rem var(--bgCol);
}
/* FormCard CSS Ends  */

/* LeadAttribute/Lead CSS Starts  */
.sidebar{
  display: flex;
  position: fixed;
  height: 100%;
  width: 12rem;
  top: 0;
  left: 0;
  transition: 0.26s;
  background-color: var(--white);
  /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.4); */
}

.sidebarBody{
  margin-top: 5rem;
}

.sidebarBodyA{
  padding: 4px 8px 4px 2px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  color: var(--accentCol);
}

.main{
  width: 100%;
  margin-top: 2rem;
}

.topBtn{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.createBtn{
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1.2rem;
  outline: none;
  background: var(--accentCol);
  /* line-height: 1; */
  text-align: center;
  display: flex;
  justify-content: center;
}

.leadFormCard{
  margin-top: 1rem;
}

.table{
  background-color: var(--white);
  /* border-radius: 1.2rem; */
  border-color: var(--bgCol);
  margin-top: 1rem;
}

.thead{
  border-radius: 1.2rem;
}

thead tr th{
  text-transform: capitalize;
}

tbody tr{
  border-top-width: .4rem;
}

.helpText{
  word-wrap: break-word;
}

.trashIcon:hover{
  color: #c70000;
}
/* Lead Structure Ends */